@page "{guid}"
@model BookMe.WebApp.Pages.Hotels.Edit
<h3>Hotel @Model.Hotel.Name</h3>

<h4>Edit Bookings</h4>

<table class="table table-sm">
    <thead>
    <tr>
        <th>Guest</th>
        <th>-</th>
        <th>Email</th>
        <th>Date</th>
        <th>Days</th>
        <th>Room Type</th>
        <th>Room Price</th>
        <th>Booking Price</th>
    </tr>
    </thead>
    <tbody>
    @foreach (var b in Model.Hotel.Bookings.OrderBy(b => b.Date)) {
    <tr>
        <td>@b.Guest.LastName</td>
        <td>@b.Guest.FirstName</td>
        <td>@b.Guest.Email</td>
        <td>
            <input asp-for="EditBokings[b.Id].Date">
            <small>
                <span class="text-danger" asp-validation-for='EditBokings[b.Id].Date'></span>
            </small>
        </td>
        <td>
            <input asp-for="EditBokings[b.Id].BookingDuration ">
            <small>
                <span class="text-danger" asp-validation-for='EditBokings[b.Id].BookingDuration'></span>
            </small>
        </td>
        <td>@b.Room.RoomType</td>
        <td>@b.Room.Price</td>
        <td>@b.BookingPrice</td>
        <td><button class="btn btn-primary"
                    type="submit"
                    asp-page-handler="EditBooking"
                    asp-route-taskGuid="@b.Id">Save
            </button>
    </tr>
    }
    </tbody>
</table>

